# standup notes
snippet todo
	# Todo:
	- ${0}
	# Log:

	# Notes:

# underline
snippet ul
	<u>${1}</u>${2}

# blog post
snippet post
	---
	layout: ../../layouts/Layout.astro
	title: ${1}
	date: ${2}
	---
	
	# ${3}
	${0}
